:root {
    color-scheme: light dark;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.outer-side {
    background-color: green;
}

#board {
    height: 44.4%;
    background-color: blue;
}

.opponent.outer-side {
    height: 26.4%;
}

.player.outer-side {
    height: 29.2%;
}

.opponent, .player {
    display: flex;
}

.hand, .deck {
    height: 100%;
    vertical-align: bottom;
    justify-content: center;
}

.hand {
    width: 70%;
}

.deck {
    width: 30%;
    align-items: center;
}

.inner-side {
    height: 50%;
}

.played-cards {
    width: 40%;
    height: 100%;
}

.player.played-cards, .opponent.total {
    justify-content: left;
}

.opponent.played-cards, .player.total {
    justify-content: right;
}

.total {
    width: 60%;
    align-items: center;
}

.card {
    display: inline-block;

    text-align: left;
    position: relative;
    
    box-sizing: border-box;
    padding: 10px;

    height: 70%;
    aspect-ratio: 2 / 3;
    
    border: solid;
    border-radius: 10%;

    /* background-image: url('../img/back.png'); */
    background-color: rgb(100, 100, 0);
}

.hand > .card {
    margin-left: -5%;
}

.played-cards > .card {
    height: 100%;
}

.player.hand > .card:hover {
    cursor: pointer;
    z-index: 1;
    background-color: red;
}
